#game-view {
    outline: none;
    display: grid;
    grid-template-columns: 10rem min-content 10rem;
    width: min-content;
    height: fit-content;
}

.matrix-container {
    display: flex;
    flex-direction: row;

    --board-columns: 10;
    --board-rows: 20;

    --board-width: 40vh;
    --board-height: 80vh;

    --cel-width: calc(var(--board-width) / var(--board-columns));
    --cel-height: calc(var(--board-height) / var(--board-rows));

    --cel-dimension: min(var(--cel-height),  var(--cel-width));

    width: fit-content;
    height: fit-content;
}

.damage-bar {
    width: 0.75rem;
    display: inline-flex;
    flex-direction: column-reverse;

    .garbage {
        width: 100%;
        height: var(--cel-dimension);
        background-color: red;
    }
}

.matrix {
    background-color: black;
    display: inline-grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-template-rows: repeat(var(--board-rows), var(--cel-dimension));
    grid-template-columns: repeat(var(--board-columns), var(--cel-dimension));
}

.tetris99 {

    .block {
        background-size: cover;
    }

    .T0 {
        background-image: url("../media/tetris99/blocks/Grid.png");
    }

    .T1, .T8, .T15 {
        background-image: url("../media/tetris99/blocks/I.png");
    }

    .T2, .T9, .T16 {
        background-image: url("../media/tetris99/blocks/T.png");
    }

    .T3, .T10, .T17{
        background-image: url("../media/tetris99/blocks/O.png");
    }

    .T4, .T11, .T18 {
        background-image: url("../media/tetris99/blocks/L.png");
    }

    .T5, .T12 {
        background-image: url("../media/tetris99/blocks/J.png");
    }

    .T6, .T13 {
        background-image: url("../media/tetris99/blocks/S.png");
    }

    .T7, .T14 {
        background-image: url("../media/tetris99/blocks/Z.png");
    }

    .T80 {
        background-image: url("../media/tetris99/blocks/Garbage.png");
    }

    .T90 {
        background-color: white;
    }

    .T-1, .T-8, .T-15 {
        background-image: url("../media/tetris99/blocks/ShadowI.png");
    }

    .T-2, .T-9, .T-16 {
        background-image: url("../media/tetris99/blocks/ShadowT.png");
    }

    .T-3, .T-10, .T-17 {
        background-image: url("../media/tetris99/blocks/ShadowO.png");
    }

    .T-4, .T-11, .T-18 {
        background-image: url("../media/tetris99/blocks/ShadowL.png");
    }

    .T-5, .T-12 {
        background-image: url("../media/tetris99/blocks/ShadowJ.png");
    }

    .T-6, .T-13 {
        background-image: url("../media/tetris99/blocks/ShadowS.png");
    }

    .T-7, .T-14 {
        background-image: url("../media/tetris99/blocks/ShadowZ.png");
    }

    .preview, .hold {
        background-size: cover;
        margin: 0 auto 1rem;
        width: 8rem;
        height: 4rem;
    }

    .P1, .H1 {
        background-image: url("../media/tetris99/previews/IPiece.png");
    }

    .P2, .H2 {
        background-image: url("../media/tetris99/previews/TPiece.png");
    }

    .P3, .H3 {
        background-image: url("../media/tetris99/previews/OPiece.png");
    }

    .P4, .H4 {
        background-image: url("../media/tetris99/previews/LPiece.png");
    }

    .P5, .H5 {
        background-image: url("../media/tetris99/previews/JPiece.png");
    }

    .P6, .H6 {
        background-image: url("../media/tetris99/previews/SPiece.png");
    }

    .P7, .H7 {
        background-image: url("../media/tetris99/previews/ZPiece.png");
    }

    .H-1 {
        background-image: url("../media/tetris99/previews/IPieceDisabled.png");
    }

    .H-2 {
        background-image: url("../media/tetris99/previews/TPieceDisabled.png");
    }

    .H-3 {
        background-image: url("../media/tetris99/previews/OPieceDisabled.png");
    }

    .H-4 {
        background-image: url("../media/tetris99/previews/LPieceDisabled.png");
    }

    .H-5 {
        background-image: url("../media/tetris99/previews/JPieceDisabled.png");
    }

    .H-6 {
        background-image: url("../media/tetris99/previews/SPieceDisabled.png");
    }

    .H-7 {
        background-image: url("../media/tetris99/previews/ZPieceDisabled.png");
    }
}   