@page "/Tetris"
@rendermode InteractiveServer
<div id="matrix">
    @foreach (int[] col in game.Renderer.Matrix)
    {
        @foreach (int block in col)
        {
            <div class="T@block"></div>
        }
    }
</div>