#matrix {
    display: grid;
    width: 20rem;
    grid-template-columns: repeat(10, 1fr);
    
    div {
        width: 2rem;
        height: 2rem;
    }
}

.T0 {
    background-color: black;
}

.T1 {
    background-color: aqua;
}

.T2 {
    background-color: rebeccapurple;
}

.T3 {
    background-color: yellow;
}

.T4 {
    background-color: orange;
}

.T5 {
    background-color: darkblue;
}

.T6 {
    background-color: lawngreen; 
}

.T7 {
    background-color: red;
}