@page "/"
@rendermode InteractiveServer
<div id="game-view" class="tetris99" tabindex="0" @onkeydown="KeywordEnterPressed">
    <div class="hold"></div>
    <div class="matrix">
        @foreach (int[] col in game.Renderer.Matrix)
        {
            <div class="col">
                @foreach (int block in col.Reverse())
                {
                    <div class="T@(block) block"></div>
                }
            </div>
        }
    </div>
    <div class="next"></div>
</div>