#game-view {
    display: grid;
    grid-template-columns: 10rem min-content 10rem;
    margin: auto;
    width: min-content;
}

.matrix {
    background-color: black;
    height: 80vh;
    width: 40vh;
    display: flex;
    flex-direction: row;

    .col {
        flex: 1 1 1rem;
        div {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.next, .hold {
    background-color: #3c3c3c;
}

.tetris99 {

    .block {
        background-size: cover;
    }
    
    .T0 {
        background-image: url("./media/tetris99/blocks/Grid.png");
    }

    .T1 {
        background-image: url("./media/tetris99/blocks/I.png");
    }

    .T2 {
        background-image: url("./media/tetris99/blocks/T.png");
    }

    .T3 {
        background-image: url("./media/tetris99/blocks/O.png");
    }

    .T4 {
        background-image: url("./media/tetris99/blocks/L.png");
    }

    .T5 {
        background-image: url("./media/tetris99/blocks/J.png");
    }

    .T6 {
        background-image: url("./media/tetris99/blocks/S.png");
    }

    .T7 {
        background-image: url("./media/tetris99/blocks/Z.png");
    }

    .T-1 {
        background-image: url("./media/tetris99/blocks/ShadowI.png");
    }

    .T-2 {
        background-image: url("./media/tetris99/blocks/ShadowT.png");
    }

    .T-3 {
        background-image: url("./media/tetris99/blocks/ShadowO.png");
    }

    .T-4 {
        background-image: url("./media/tetris99/blocks/ShadowL.png");
    }

    .T-5 {
        background-image: url("./media/tetris99/blocks/ShadowJ.png");
    }

    .T-6 {
        background-image: url("./media/tetris99/blocks/ShadowS.png");
    }

    .T-7 {
        background-image: url("./media/tetris99/blocks/ShadowZ.png");
    }
    
    .preview, .hold {
        background-size: cover;
        margin: 0 auto 1rem;
        width: 8rem;
        height: 4rem;
    }
    
    .P1, .H1 {
        background-image: url("./media/tetris99/previews/IPiece.png");
    }

    .P2, .H2 {
        background-image: url("./media/tetris99/previews/TPiece.png");
    }

    .P3, .H3 {
        background-image: url("./media/tetris99/previews/OPiece.png");
    }

    .P4, .H4 {
        background-image: url("./media/tetris99/previews/LPiece.png");
    }

    .P5, .H5 {
        background-image: url("./media/tetris99/previews/JPiece.png");
    }

    .P6, .H6 {
        background-image: url("./media/tetris99/previews/SPiece.png");
    }

    .P7, .H7 {
        background-image: url("./media/tetris99/previews/ZPiece.png");
    }

    .H-1 {
        background-image: url("./media/tetris99/previews/IPieceDisabled.png");
    }

    .H-2 {
        background-image: url("./media/tetris99/previews/TPieceDisabled.png");
    }

    .H-3 {
        background-image: url("./media/tetris99/previews/OPieceDisabled.png");
    }

    .H-4 {
        background-image: url("./media/tetris99/previews/LPieceDisabled.png");
    }

    .H-5 {
        background-image: url("./media/tetris99/previews/JPieceDisabled.png");
    }

    .H-6 {
        background-image: url("./media/tetris99/previews/SPieceDisabled.png");
    }

    .H-7 {
        background-image: url("./media/tetris99/previews/ZPieceDisabled.png");
    }
}