@page "/"
@rendermode InteractiveServer
<div id="matrix" tabindex="0" @onkeydown="KeywordEnterPressed">
    @foreach (int[] col in game.Renderer.Matrix)
    {
        @foreach (int block in col)
        {
            <div class="T@(block)"></div>
        }
    }
</div>