@page "/"
@rendermode InteractiveServer
<div id="matrix" tabindex="0" @onkeydown="KeywordEnterPressed">
    @foreach (int[] col in game.Renderer.Matrix)
    {
        <div class="col">
        @foreach (int block in col.Reverse())
        {
            <div class="T@(block)"></div>
        }
        </div>
    }
</div>