#matrix[b-4r9tb82az7] {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 20rem;
    height: 80rem;
    
    div {
        width: 2rem;
        height: 2rem;
    }
}

.T0[b-4r9tb82az7] {
    background-color: black;
}

.T1[b-4r9tb82az7] {
    background-color: aqua;
}

.T2[b-4r9tb82az7] {
    background-color: rebeccapurple;
}

.T3[b-4r9tb82az7] {
    background-color: yellow;
}

.T4[b-4r9tb82az7] {
    background-color: orange;
}

.T5[b-4r9tb82az7] {
    background-color: darkblue;
}

.T6[b-4r9tb82az7] {
    background-color: lawngreen; 
}

.T7[b-4r9tb82az7] {
    background-color: red;
}