#matrix[b-4r9tb82az7] {
    height: 80vh;
    width: 40vh;
    display: flex;
    flex-direction: row;

    .col {
        flex: 1 1 1rem;
        div {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.T0[b-4r9tb82az7] {
    background-color: black;
}

.T1[b-4r9tb82az7] {
    background-color: aqua;
}

.T2[b-4r9tb82az7] {
    background-color: rebeccapurple;
}

.T3[b-4r9tb82az7] {
    background-color: yellow;
}

.T4[b-4r9tb82az7] {
    background-color: orange;
}

.T5[b-4r9tb82az7] {
    background-color: darkblue;
}

.T6[b-4r9tb82az7] {
    background-color: lawngreen; 
}

.T7[b-4r9tb82az7] {
    background-color: red;
}

.T-1[b-4r9tb82az7] {
    background-color: #006161;
}

.T-2[b-4r9tb82az7] {
    background-color: #301747;
}

.T-3[b-4r9tb82az7] {
    background-color: #777700;
}

.T-4[b-4r9tb82az7] {
    background-color: #613e00;
}

.T-5[b-4r9tb82az7] {
    background-color: #000039;
}

.T-6[b-4r9tb82az7] {
    background-color: #265300;
}

.T-7[b-4r9tb82az7] {
    background-color: #630000;
}