#game-view[b-4r9tb82az7] {
    background-color: black;
    display: grid;
    grid-template-columns: 5vw min-content 5vw;
    margin: auto;
    width: min-content;
}

.matrix[b-4r9tb82az7] {
    height: 80vh;
    width: 40vh;
    display: flex;
    flex-direction: row;

    .col {
        flex: 1 1 1rem;
        div {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.tetris99[b-4r9tb82az7] {

    .block {
        background-size: cover;
    }
    
    .T0[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/Grid.png");
    }

    .T1[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/I.png");
    }

    .T2[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/T.png");
    }

    .T3[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/O.png");
    }

    .T4[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/L.png");
    }

    .T5[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/J.png");
    }

    .T6[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/S.png");
    }

    .T7[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/Z.png");
    }

    .T-1[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowI.png");
    }

    .T-2[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowT.png");
    }

    .T-3[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowO.png");
    }

    .T-4[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowL.png");
    }

    .T-5[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowJ.png");
    }

    .T-6[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowS.png");
    }

    .T-7[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowZ.png");
    }
}