/* _content/GUI/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-3a79g0zhcb] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-3a79g0zhcb] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/GUI/Components/Pages/Tetris.razor.rz.scp.css */
#game-view[b-4r9tb82az7] {
    display: grid;
    grid-template-columns: 10rem min-content 10rem;
    margin: auto;
    width: min-content;
}

.matrix[b-4r9tb82az7] {
    background-color: black;
    height: 80vh;
    width: 40vh;
    display: flex;
    flex-direction: row;

    .col {
        flex: 1 1 1rem;
        div {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.next[b-4r9tb82az7] {
    background-color: #3c3c3c;
}

.tetris99[b-4r9tb82az7] {

    .block {
        background-size: cover;
    }
    
    .T0[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/Grid.png");
    }

    .T1[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/I.png");
    }

    .T2[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/T.png");
    }

    .T3[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/O.png");
    }

    .T4[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/L.png");
    }

    .T5[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/J.png");
    }

    .T6[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/S.png");
    }

    .T7[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/Z.png");
    }

    .T-1[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowI.png");
    }

    .T-2[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowT.png");
    }

    .T-3[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowO.png");
    }

    .T-4[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowL.png");
    }

    .T-5[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowJ.png");
    }

    .T-6[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowS.png");
    }

    .T-7[b-4r9tb82az7] {
        background-image: url("./media/tetris99/blocks/ShadowZ.png");
    }
    
    .preview[b-4r9tb82az7] {
        background-size: cover;
        margin: 0 auto 1rem;
        width: 8rem;
        height: 4rem;
    }
    
    .P1[b-4r9tb82az7] {
        background-image: url("./media/tetris99/previews/IPiece.png");
    }

    .P2[b-4r9tb82az7] {
        background-image: url("./media/tetris99/previews/TPiece.png");
    }

    .P3[b-4r9tb82az7] {
        background-image: url("./media/tetris99/previews/OPiece.png");
    }

    .P4[b-4r9tb82az7] {
        background-image: url("./media/tetris99/previews/LPiece.png");
    }

    .P5[b-4r9tb82az7] {
        background-image: url("./media/tetris99/previews/JPiece.png");
    }

    .P6[b-4r9tb82az7] {
        background-image: url("./media/tetris99/previews/SPiece.png");
    }

    .P7[b-4r9tb82az7] {
        background-image: url("./media/tetris99/previews/ZPiece.png");
    }
}
